body{
	padding:5%;
	margin:2%;
	background:linear-gradient(90deg,rgb(255, 220, 220) 0%, rgb(255, 232, 235) 33%, rgb(255, 232, 235) 67%,rgb(255, 220, 220) 100%);
	font-family: Arial, Helvetica, sans-serif;
	border:10px solid rgb(255, 248, 239);
	border-radius: 0.8em
}
html{
	background-color:rgb(255, 240, 240)
}
h1,h2,h3{
	color:rgb(42, 205, 211);
	font-weight:550;
	border-bottom:1px solid burlywood
}
.back{
	color:black;
	border-bottom-style: none;
	border-radius:0.4em;
	margin-top:20px;
	padding:5px;
	font-size: large;
	font-weight: 600;
	Background:linear-gradient(0deg,rgb(248, 242, 153) 50%,rgb(248, 242, 152) 50%)
}
#table{
	background:linear-gradient(0deg,rgb(255, 255, 170) 25%,rgb(255, 255, 182) 50%,rgb(255, 255, 182) 75%,rgb(255, 255, 170)100%)
}
.invisible{
	visibility: hidden;
}